* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    outline: none;
}
/*---------------------------section 1----------- */
.first {
   
    background :linear-gradient(rgba(0, 0, 0 , 0.5),rgba(0, 0, 0,  0.7)),url(./image/bground\ for\ project.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    row1{

      font-size: 10px;
      padding: 0 200px;
    }
    
}
header {
    background-color: #1b2021;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
    padding: 20px 60px;
    background-color: rgba(0, 0, 0, 0.4);
    p{
        font-size: 20px;
    }
}

samp {
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.div1 {

    font-size: 30px;
    color:#fff ;
    width: 36%;
    margin: 0 256px;
    margin-top: 11%;
   p{
    font-size: 27px;
        color: #fff;
        margin-top: 20px;
   }
 h1{
    margin-top: 100px;
        font-size: 46px;
}
}

/*--------------section 2----------------*/  
.two {
display: flex;
 gap: 20px;
 width: 100%;
 padding:  0 250px;
 margin-top: 20px;
 div{
 width: 30%;
 }
 h2{
 color: red;
 width: 60%;
 margin-bottom: 10px
 }
 p{
    margin-bottom: 20px;
 }

}
/*-----------section 3------------------*/
.three{
    display: flex;
    gap: 20px;
    padding: 40px 249px;
    background-color: slategray;
    p{
     width: 50%;
     margin-left: 40px;
    }
    h2{
        margin-bottom: 10px;
    width: 100%;
    color: red;
    margin-left: 40px;
    }
    img{
        width: 500px;
        height: 240px;
    }
    button{
     background-color: slategray;
     color: #fff;
     margin-left: 40px;
     padding: 8px 50px;
     margin-top: 20px;
    }
}

/*-------------section 4---------------------*/
.four{
display: flex;
justify-content: space-around;
padding: 30px 249px;

button{
    background-color:#fff ;
    padding: 8px 50px;
    margin-top: 20px;
}
img{
    margin-right: 900px;
    width: 300px;
    height: 200px;
}
h2{width: 100%;
    color: red;
}
p{margin-top: 10px;
width: 70%;}
}
/*-------------section 5-------------------------------*/
.five{
    align-items: center;
    padding: 70px 200px;
    background-color: red;
    margin-top: 20px;
    p{
        width: 90%;
        padding-left: 20px ;
        margin-top: 20px;
    }
    h3{
        width: 70%;
        
        padding-left: 200px;
    }
    img{
        padding-left: 400px;
    }
    h4{padding-left: 400px;
        margin-top: 30px;
    }  
}
/*------------------------------section 6----------------------*/
.six{
    display: flex;
    gap: 20px;
    padding: 30px 248px;
    h2{
        color: red;
        width: 95%;
        font-size: 17px;
        margin-top: 10px;
    }
    p{
        margin-top: 10px;
    }
}
footer{
    align-items: center;
    margin-left: 600px;
}





   







